@import "../../../styles.scss";

.content {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.grid-list {
  @extend .flex;

  margin: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.grid-tile {
  @extend .card;
  position: relative;
  padding: 20px;
  margin: 20px;
  min-width: 150px;
  max-width: 150px;
  cursor: pointer;
  transition: 0.3s;
  
  &:hover {
    background: linear-gradient(52deg, #135db7, transparent);
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 10px;
  }
}
