@import "../../../styles.scss";

.grid-list {
  @extend .card;

  flex-basis: 20%;
  margin: 10px;
  padding: 10px;
  text-align: center;
  flex-wrap: wrap;
  position: relative;
  background: linear-gradient(52deg, #135db7, transparent);
}

.green {
  background-color: rgb(0, 130, 76);
}

.red {
  background-color: rgb(215, 68, 68);
}

.device {
  font-size: large;
}

.usage {
  font-size: small;
}
