<div *ngFor="let deviceData of batteryDataByAcademyId">
  <div>Device : {{ getSerialNumber(deviceData) }}</div>
  <hr />

  <div *ngFor="let dataByDate of getAverageBattery(deviceData); let i = index">
    <div *ngIf="i === 0">
      Average Usage per Day :
      {{ dataByDate[0].batteryAveragePerWeek | percent }}
      <hr />
    </div>
    Usage :
    {{ dataByDate[0].batteryAveragePerDay | percent }} ---
    {{ dataByDate[0].date | date : "mediumDate" }}
  </div>
  <hr />

  <!-- <div *ngFor="let data of sortByDateTime(deviceData)">
    {{ data.batteryLevel | percent }} --- {{ data.timestamp | date : "medium" }}
  </div>
  <hr /> -->
</div>
