/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  line-height: initial;
}

html,
body {
  height: 100%;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.bar-bg-color {
  background: linear-gradient(8deg, #197aef, #135db7);
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  box-shadow: rgb(168, 168, 168) 0px 0px 15px -2px;
  background: linear-gradient(52deg, #4d84c7, transparent);
  border-radius: 25px;
  text-shadow: 1px 1px 3px #7b7b7b;
}
